[Unit]
Description=Starts up the necessary Gunicorn services to give life to the AirBnB v4 project

[Service]
Type=simple
ExecStart=/usr/bin/env gunicorn --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app HBNB_MYSQL_USER=hbnb_dev HBNB_MYSQL_PWD=hbnb_dev_pwd HBNB_MYSQL_HOST=localhost HBNB_MYSQL_DB=hbnb_dev_db HBNB_TYPE_STORAGE=db & gunicorn --bind 0.0.0.0:5002 api.v1.app:app HBNB_MYSQL_USER=hbnb_dev HBNB_MYSQL_PWD=hbnb_dev_pwd HBNB_MYSQL_HOST=localhost HBNB_MYSQL_DB=hbnb_dev_db HBNB_TYPE_STORAGE=db &
StandardError=file:/tmp/airbnb-error.log
StandardOutput=file:/tmp/airbnb-access.log

[Install]
WantedBy=multi-user.target
